<h1>My LTI</h1>
<h4><%= @key %></h4>
<h4><%= @secret %></h4>
<textarea width="100%">
  <%= @debug_base %>
</textarea>
<table class="table">
  <tr>
    <th>Header</th>
    <th>Value</th>
  </tr>
  <% @params.each do |k, v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
